@charset "UTF-8";

section {
    display: flex;
    justify-content: center; /* 水平方向中央寄せ */
    align-items: flex-start; /* 垂直方向上寄せ */
    flex-direction: column;
}

.input-container {
    width: 300px; /* 必要に応じて幅を調整 */
}

.name, .gender, .hobby {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* 必要に応じて間隔を調整 */
}

label {
    width: 80px; /* 必要に応じて幅を調整 */
    display: inline-block;
}

#inputArea {
    padding-left: 30px; /* 左側に余白を追加 */
}